html,body,#app {
  height: 100%;
}

.full-height {
  height: 100%;
}

.bg-ada {
  background-color: #03a9f4;
  color: white
}

.p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-menuitem-text,
.p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-submenu-icon,
.p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-menuitem-icon {
  color: white !important;
}

.p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.p-menubar-root-list {
  margin-left: 10px;
}